<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org"
	th:replace="non-admin/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Contacts Page</title>
</head>
<body>
	<section>

		<div class="card ml-3 mr-3" style="width: unset">
			<div class="card-body" style="background: white">
				<h1 class="text-center">Your Contacts</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Work</th>
							<th scope="col">email</th>
							<th scope="col">Phone</th>
							<th scope="col" class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="contact : ${contacts}">
							<th th:text="${contact.cid}"></th>
							<td><img class="my_profile_pic"
								th:src="${contact.image != null and !#strings.isEmpty(contact.image)}
                 ? @{'/image/' + ${contact.image}}
                 : @{/image/contact.png}"
								alt="Contact Image" /> <span th:text="${contact.name}"></span></td>
							<td th:text="${contact.secondName}"></td>
							<td th:text="${contact.work}"></td>
							<td><a href=""
								th:href="@{'/user/'+${contact.cid}+'/contact'}"> <span
									th:text="${contact.email}"></span>
							</a></td>
							<td th:text="${contact.phone}"></td>
							<td class="text-center">

								<form th:action="@{'/user/update-contact/' + ${contact.cid}}"
									method="post" style="display: inline;">
									<button type="submit" class="btn btn-sm btn-primary">
										<i class="fas fa-edit"></i>
									</button>
								</form> <a class="btn btn-sm btn-danger"
								th:onclick="|deleteContact(${contact.cid})|"> <i
									class="fas fa-trash"></i>
							</a>
							</td>

						</tr>

					</tbody>
				</table>

				<nav aria-label="...">
					<ul class="pagination">
						<li th:if="${currentPage!=0}" class="page-item"><a
							th:href="@{'/user/view-contacts/'+${currentPage}}"
							class="page-link" href="#" tabindex="-1">Previous</a></li>
						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item"><a
							th:href="@{'/user/view-contacts/'+${i}}" class="page-link"
							href="#"><span th:text="${i}"></span></a></li>

						<li th:if="${currentPage+1!=totalPages}" class="page-item"><a
							th:href="@{'/user/view-contacts/'+${currentPage+2}}"
							class="page-link" href="#">Next</a></li>
					</ul>
				</nav>
			</div>
		</div>

	</section>
</body>
</html>